@font-face {
	font-family: 'TradeGothic LT CondEighteen';
	src: url('./fonts/TradeGothicLT-BoldCondTwenty.eot');
	src: url('./fonts/TradeGothicLT-BoldCondTwenty.eot?#iefix') format('embedded-opentype'),
		url('./fonts/TradeGothicLT-BoldCondTwenty.woff') format('woff'),
		url('./fonts/TradeGothicLT-BoldCondTwenty.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

body {
    background-image: url("./img/NoFellows.png");
    background: #002A5c;
    color: #000;
    font: 100.1% "TradeGothic LT CondEighteen";
}
#holder {
    height: 480px;
    left: 50%;
    margin: 0 0 0 -320px;
    position: absolute;
    top: 0;
    width: 640px;
}
#copy {
    bottom: 0;
    font-size: .7em;
    position: absolute;
    right: 1em;
    text-align: right;
}
